*{margin: 0; padding: 0; box-sizing: border-box;}
li{list-style:none;}
a{text-decoration: none; color: inherit;}

body{
    font-family: "맑은고딕";
    font-size: 14px;
    line-height: 1.5;
    color: #333;
}
.innerCon{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}